<div class="shipping-address__header">
	<h2 class="shipping-address__header__title">Shipping Address</h2>
	<div class="shipping-address__header__info">
		<span>{{shoppingCart.totalQuantity}} items</span>
		<app-shopping-cart-total-price [totalPrice]="shoppingCart.totalPrice"></app-shopping-cart-total-price>
	</div>
</div>

<div class="shipping-address__form">
	<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" novalidate>
		<ul class="shipping-address__form__list">
			<li class="shipping-address__form__list__item">
				<label for="fullName">Full Name</label>
				<input type="text" name="fullName" id="fullName" #fullName="ngModel" ngModel required>
			</li>
			<li class="shipping-address__form__list__item">
				<label for="email">Email</label>
				<input type="text" name="email" id="email" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
				 class="login__form__input" #email="ngModel" ngModel/>
			</li>
			<li class="shipping-address__form__list__item">
				<label for="address">Address</label>
				<input type="text" id="address" name="address" #address="ngModel" ngModel required>
			</li>
			<li class="shipping-address__form__list__item">
				<label for="zipcode">Zipcode</label>
				<input type="text" id="zipcode" name="zipcode" #zipcode="ngModel" ngModel required>
			</li>
			<li class="shipping-address__form__list__item">
				<label for="city">City</label>
				<input type="text" id="city" name="city" #city="ngModel" ngModel required>
			</li>
			<li class="shipping-address__form__list__item">
				<label for="country">Country</label>
				<select name="country" #country="ngModel" ngModel disabled>
					<option value="finland">Finland</option>
				</select>
			</li>
			<li class="shipping-address__form__list__item">
				<label for="phoneNumber">Phone Number</label>
				<input type="text" id="phoneNumber" name="phoneNumber" #phoneNumber="ngModel" ngModel required>
			</li>
		</ul>
	</form>
</div>

<div class="shipping__footer">
	<app-previous-button [content]="'previous'" [previousRoute]="'/checkout'"></app-previous-button>
	<app-next-button [content]="'complete order'" [nextRoute]="'/'"></app-next-button>
</div>