@import '~sass/_variables';
@import '~sass/_mixins';

.row {
	display: grid;
	margin: 0 auto;
	text-align: center;
	grid-row-gap: 40px;
	@include columns(1);

	// MEDIA QUERIES STARTS
	@include sm {
		@include columns(2);
	}

	@include md {
		@include columns(3);
	}

	@include lg {
		@include columns(4);
	}
}