<div class="checkout-steps">
	<ul class="checkout-steps__list">
		<li class="checkout-steps__list__item">
			<a class="checkout-steps__list__item__button" [routerLink]="'/checkout'" routerLinkActive="checkout-steps__list__item__button-active"
			 [routerLinkActiveOptions]="{ exact: true }">shopping cart</a>
		</li>
		<li class="checkout-steps__list__item">
			<a class="checkout-steps__list__item__button" [routerLink]="'/checkout/shipping-address'" routerLinkActive="checkout-steps__list__item__button-active" skipLocationChange = "true" >shipping address</a>
		</li>
		<li class="checkout-steps__list__item">
			<a class="checkout-steps__list__item__button" [routerLink]="'/checkout/shipping-methods'" routerLinkActive="checkout-steps__list__item__button-active" skipLocationChange = "true">shipping methods</a>
		</li>
		<li class="checkout-steps__list__item">
			<a class="checkout-steps__list__item__button" [routerLink]="'/checkout/payment'" routerLinkActive="checkout-steps__list__item__button-active" skipLocationChange = "true">payment options</a>
		</li>
		<li class="checkout-steps__list__item">
			<a class="checkout-steps__list__item__button checkout-steps__list__item__button-last">complete</a>
		</li>
	</ul>
</div>

