@import '~sass/_variables';
@import '~sass/_mixins';
:host {
	text-align: center;
	padding-top: 16px;
	font-family: $primary_font;
}

.modal {

	&__content {
		& > p {
			font-family: $primary_font;
		}
	}

}