<div class="shopping-cart-modal">
	<div class="shopping-cart-modal__content">

		<div class="shopping-cart-modal__content__header">
			<app-shopping-cart-title [totalQuantity]="products.totalQuantity"></app-shopping-cart-title>
			<i class="fa fa-times shopping-cart-modal__content__header__close" aria-hidden="true"></i>
		</div>

		<ul class="shopping-cart-modal__content__list" *ngIf="isShoppingCartEmpty(products)">
			<span class="shopping-cart-modal__content__list__arrow"></span>
			<app-shopping-cart-items [productsItems]="products.items"></app-shopping-cart-items>
		</ul>

		<div class="shopping-cart-modal__content__footer">
			<div class="shopping-cart-modal__content__footer__loaded" *ngIf="isShoppingCartEmpty(products)">
				<app-shopping-cart-total-price [totalPrice]="products.totalPrice"></app-shopping-cart-total-price>
				<app-checkout-button></app-checkout-button>
			</div>
			<div class="shopping-cart-modal__content__footer__empty" *ngIf="!isShoppingCartEmpty(products)">
				<app-shopping-cart-empty></app-shopping-cart-empty>
			</div>
		</div>

	</div>
</div>