body {
	margin: 0;
	font-family: $primary_font;
}

.checkout {
	
		&__form {
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			padding: 2px 10px;
			display: grid;
	
			&__cart-overview {
				text-align: right;
	
				&__total {
					font-size: $smFont;
				}
	
				& /deep/ app-shopping-cart-total-price {
					display: inline-block;
				}
			}
		}
	
		&__footer {
			display: flex;
			justify-content: space-between;
			margin-top: -15px;
		}
	
		@include md {
	
			&__form__cart-overview__total {
				font-size: $mdFont;
			}
		}
	
		@include lg {
	
			&__form__cart-overview__total {
				font-size: $lgFont;
			}
		}
	}