@mixin sm {
	@media (min-width: $sm) {
			@content;
	}
}

@mixin md {
	@media (min-width: $md) {
			@content;
	}
}

@mixin lg {
	@media (min-width: $lg) {
			@content;
	}
}

@mixin xl {
	@media (min-width: $xl) {
			@content;
	}
}

@mixin columns($size) {
  grid-template-columns: map-get((
		1 : 1fr,
		2 : 1fr 1fr,
		3 : 1fr 1fr 1fr,
		4 : 1fr 1fr 1fr 1fr,
  ), $size);
}

@mixin button {
	display: inline-block;
	padding: 10px 35px;
	margin: 0.25em 0;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	font-family: $primary_font;
	font-weight: 600;
	color: #000;
	background-color: transparent;
	transition: all .25s ease-in-out;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		border: solid 3px $primary_color;
		border-radius: 5px;
	}

	&:hover {
		color: green;
		cursor: pointer;
	}
}