/*Media Queries*/
$sm:480px;
$md:768px;
$lg:1024px;
$xl:1280px;

/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
$primary_font: 'Montserrat', sans-serif;

/*Colors*/
$primary_color: #3f2d20;
$notification_color: #ce593f;

/*Font-Sizes*/
$xsFont: .7rem;
$smFont: .8rem;
$mdFont: .9rem;
$lgFont: 1rem;
$xlFont: 1.1rem;
$xxlFont: 1.3rem;

/*ContainerWidthScopes*/
$small_container_width: 90%;
$medium_container_width: 90%;
$large_container_width: 70%;