@import '~sass/_variables';
@import '~sass/_mixins';

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 50px;
	box-shadow: 0 1px 4px rgba(0,0,0,.3), inset 0 0 40px rgba(0,0,0,.1);
	background: white;
	z-index: 1;

	.menu {
		display: grid;
		height: 100%;
		width: 95%;
		margin: 0 auto;
		align-items: center;
		@include columns(2);
	
		@include sm {
			width: $small_container_width;
		}
	
		@include md {
			width: $medium_container_width;
		}
	
		@include lg {
			width: $large_container_width;
		}
	}
}

.shopping {
    display: flex;
    height: 40px;
	 justify-content: flex-end;
	 font-family: $primary_font;
	 
	 &-cart {
		position: relative;
		right: 17px;
		cursor: pointer;
	 }

    &-cart__icon {
        max-height: 100%;
	 }
	 
		&-cart__total-quantity {
			position: absolute;
			top: 0;
			left: 30px;
			background: $notification_color;
			border-radius: 10px;
			color: #fff;
			font-size: .8rem;
			height: 1.1rem;
			width: 1.1rem;
			line-height: 1.1rem;
			text-align: center;
			white-space: nowrap;
		}
}
