@import '~sass/_variables';
@import '~sass/_mixins';

.logo {
	height: 40px;

	&__link {
		text-decoration: none;
		white-space: nowrap;
	}

	&__link__image {
		max-height: 100%;
		vertical-align: middle;
	}

	&__link__title {
		font-family: $primary_font;
		font-size: 1rem;
		display: inline-block;
		color: black;
	}
}