@import '~sass/_variables';
@import '~sass/_mixins';

.shopping {
    display: flex;
    height: 50px;
	 justify-content: flex-end;
	 font-family: $primary_font;
	 
	 &-cart {
		position: relative;
		right: 17px;
		cursor: pointer;
	 }

    &-cart__icon {
        max-height: 100%;
	 }
	 
	
		&-cart__total-price {
	
		}
	
		&-cart__total-quantity {
			position: absolute;
			top: 0;
			left: 50px;
			background: #ce593f;
			border-radius: 10px;
			color: #fff;
			font-size: .8rem;
			height: 1.1rem;
			width: 1.1rem;
			line-height: 1.1rem;
			text-align: center;
			white-space: nowrap;
		}
}