<div class="shopping">
	<a class="shopping-cart" (click)="setModalActive()">
		<img class="shopping-cart__icon" src="assets/shopping-basket.png" alt="">
		<!-- <span class="shopping-cart__total-price">{{shoppingCart?.totalPrice | fixPrice}}</span> -->
		<span class="shopping-cart__total-quantity">{{shoppingCart?.totalQuantity}}</span>
	</a>
	<!-- <p (click) ="emptyCart()">empty cart</p> -->
</div>

<app-shopping-cart-modal [products]="shoppingCart" *ngIf="isModalActive"></app-shopping-cart-modal>