<div class="shopping" [ngSwitch]="isHomePageOn">
	<app-previous-button *ngSwitchCase="false" [content]="'continue shopping'" [previousRoute]="'/'"></app-previous-button>
	<a class="shopping-cart" *ngSwitchDefault (click)="toggleModal()" title="Shopping Cart Icon">
		<img class="shopping-cart__icon" [src]="shoppingCart?.totalQuantity > 0 ? 'assets/shopping-basket-loaded.png' : 'assets/shopping-basket.png'"
		 alt="Shopping Cart Icon">
		<span class="shopping-cart__total-quantity">{{shoppingCart?.totalQuantity}}</span>
	</a>
</div>

<app-shopping-cart-modal [products]="shoppingCart" appShoppingCartModal></app-shopping-cart-modal>