<app-shopping-cart-steps></app-shopping-cart-steps>

<div class="checkout__main" *ngIf="isShoppingCartEmpty(shoppingCart)">
	<ul class="checkout__main__list">
		<app-shopping-cart-items [productsItems]="shoppingCart.items">
			<ng-template let-product>
				<app-quantity-button [productId]="product._id" [productQuantity]="product.quantity"></app-quantity-button>
			</ng-template>
		</app-shopping-cart-items>
	</ul>
</div>

<div class="checkout__footer">
	<div class="checkout__footer__loaded" *ngIf="isShoppingCartEmpty(shoppingCart)">
		<p class="checkout__footer__total-items">{{shoppingCart.totalQuantity}} items</p>
		<app-shopping-cart-total-price [totalPrice]="shoppingCart.totalPrice"></app-shopping-cart-total-price>
		<app-next-button [content]="'next'" [nextRoute]="'shipping'"></app-next-button>
	</div>
	<div class="checkout__footer__empty" *ngIf="!isShoppingCartEmpty(shoppingCart)">
		<app-shopping-cart-empty></app-shopping-cart-empty>
	</div>
</div>