@import '~sass/_variables';
@import '~sass/_mixins';

/*For Home Page Product Titles Only!*/
/*For Product Titles inside of Shopping-Cart and CheckoutPage, Visit 'shopping-cart-modal.component.scss' and 'checkout.component.scss!*/
.product__title {
	font-family: $primary_font;
	font-size: $xlFont;
	text-transform: capitalize;

	@include md {
		font-size: $xxlFont;
	}
}